<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">ZooSnatch</h1>
        </div>
    </div>


     <div class="row">
         <div class="col-md-12">
             <h2 id="scoreBanner">Your Score: </h2>
             <h2><span id="individualScore"></span></h2>
         </div>
     </div>


    <div class="row">
        <div class="col-md-6">
            <h2 class="leaderboard">LEADERBOARD</h2>
            <ol>
                {{#each scores}}
                <li>{{user}} | {{score}}</li>
                {{/each}}
            </ol>
        </div>
        <div class="col-md-6">
            <form class = "create-form">
                <div class="form-group">
                    <label for="userInitials">
                        <div class="userScore"></div>
                        <h2 class="leaderboard text-center">Enter Your Initials to Claim Score</h2>
                    </label>
                    <input type="text" class="form-control" id="userInitials" aria-describedby="emailHelp" placeholder="Enter initials">
                </div>
                <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<footer class="fixed-bottom text-center">
    <div class="container">
        <a href="home.html">Home</a>
    </div>
</footer>

<script type="text/javascript">
    var score;
    document.addEventListener("DOMContentLoaded", function (event) {
        console.log("javascript called");
        score = localStorage.getItem("score");
        document.getElementById("individualScore").innerHTML = score;
        console.log(score);
    });

    document.getElementById("submitButton").addEventListener("click", function (value) {
        var userInitials = document.getElementById("userInitials").value;
        console.log(userInitials);
    });

    $(".create-form").on("submit", function (event) {
            // Make sure to preventDefault on a submit event.
            event.preventDefault();
            console.log("submitted")
            var userInfo = {
                user: $("#userInitials").val().trim(),
                score: score
            };
            // Send the POST request.
            $.ajax("/api/newUserScore", {
                type: "POST",
                data: userInfo
            }).then(
                function () {
                    console.log("created user");
                    // Reload the page to get the updated list
                    location.reload();
                }
            );
        });


</script>