<h1>Top 5 Scores!</h1>
<ol>
    {{#each scores}}
        <li>{{user}} | {{score}}</li>
    {{/each}}
</ol>

<form>
  <div class="form-group">
    <label for="userInitials">Enter Your Initials to Claim High Score</label>
    <input type="text" class="form-control" id="userInitials" aria-describedby="emailHelp" placeholder="Enter initials">
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>